
body {
    background: #f4f3ef; /* Color crema suave */
  }

/* Estilo general para la barra de navegación */
.navbar {
    background-color: rgb(0, 44, 48);
    padding: 10px;
}

/* Estilo para los botones de la barra de navegación */
.nav-tabs .nav-item .nav-link {
    color: #f4f3ef;
    border: none;
    border-radius: 0;
}

.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link.active {
    background-color: #06ae41;
    color: #f4f3ef;
    border: none;
}

.nav-tabs .nav-item .nav-link.active {
    border-bottom: 2px solid #f4f3ef;
    margin-bottom: -2px;
}

/* Estilo para la etiqueta img dentro de la barra de navegación */
.navbar-brand img {
    max-width: 120px; /* Ajusta el ancho máximo para imágenes responsivas */
    height: auto;
}

/* Alineación del contenido de la página */
.container {
    margin-top: 20px;
}

/* Estilo común para secciones */
.section {
    margin: 15px;
    margin-top: 40px;
}

/* Estilo para las imágenes en las secciones */
.section img {
    margin-top: 20px;
    max-width: 100%; /* Ajusta el ancho máximo para imágenes responsivas */
    height: auto;
}

/* Estilo para la sección NUESTRA HISTORIA */
.nuestra-historia h2 {
    color: rgb(0, 44, 48);
}

/* Estilo para la sección CERTIFICACIONES */
.certificaciones h2 {
    color: rgb(0, 44, 48);
}

@media (max-width: 768px){
  .certificaciones p {
    margin-bottom: 50px;
  }
}
/* Estilo para la sección Café Geisha en el Mundo */
.cafe-geisha h2 {
    color: rgb(0, 44, 48);
}

/* Estilo para las imágenes en la sección NUESTRA HISTORIA */
.nuestra-historia img {
    margin-top: 80px;
    max-width: 350px; /* Ajusta el tamaño máximo según tus necesidades */
    height: auto;
}

/* Estilo para las imágenes en la sección CERTIFICACIONES */
.certificaciones img {
    margin-top: 40px;
    max-width: 350px; /* Ajusta el tamaño máximo según tus necesidades */
    height: auto;
}

/* Estilo para las imágenes en la sección Café Geisha en el Mundo */
.cafe-geisha img {
    margin-top: 20px;
    max-width: 250px; /* Ajusta el tamaño máximo según tus necesidades */
    height: auto;
}

p{
  text-align: justify;
}