body {
    background: #f4f3ef; /* Color crema suave */
}

/* Estilo general para la barra de navegación */
.navbar {
    background-color: rgb(0, 44, 48);
    padding: 10px;
}

/* Estilo para los botones de la barra de navegación */
.nav-tabs .nav-item .nav-link {
    color: #f4f3ef;
    border: none;
    border-radius: 0;
}

.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link.active {
    background-color: #06ae41;
    color: #f4f3ef;
    border: none;
}

.nav-tabs .nav-item .nav-link.active {
    border-bottom: 2px solid #f4f3ef;
    margin-bottom: -2px;
}

/* Estilo para la etiqueta img dentro de la barra de navegación */
.navbar-brand img {
    max-width: 150px; /* Ajusta el ancho máximo para imágenes responsivas */
    height: auto;
}

/* Alineación del contenido de la página */
.container {
    margin-top: 20px;
}

/* Estilo común para secciones */
.section {
    margin: 15px;
    margin-top: 40px;
}

/* Estilo para las imágenes en las secciones */
.section img {
    margin-top: 20px;
    max-width: 100%; /* Ajusta el ancho máximo para imágenes responsivas */
    height: auto;
}

/* Estilo para la sección NUESTRA HISTORIA */
.nuestra-historia h2 {
    color: rgb(0, 44, 48);
}

/* Estilo para la sección CERTIFICACIONES */
.certificaciones h2 {
    color: rgb(0, 44, 48);
}

@media (max-width: 768px){
  .certificaciones p {
    margin-bottom: 50px;
  }
}
/* Estilo para la sección Café Geisha en el Mundo */
.cafe-geisha h2 {
    color: rgb(0, 44, 48);
}

/* Estilo para las imágenes en la sección Café Geisha en el Mundo */
.cafe-geisha img {
    margin-top: 20px;
    max-width: 250px; /* Ajusta el tamaño máximo según tus necesidades */
    height: auto;
    border-radius: 1rem; /* Agrega bordes redondeados a las imágenes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a las imágenes */
    transition: transform 0.3s ease; /* Agrega una transición suave al hacer hover */
}

/* Estilo para las imágenes en la sección Café Geisha en el Mundo al hacer hover */
.cafe-geisha img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}

/* Estilo para las imágenes en las secciones Nuestra Historia, Certificaciones y Café Geisha en el Mundo */
.nuestra-historia img,
.certificaciones img{
    margin-top: 30px;
    max-width: 50%; /* Ajusta el ancho máximo para hacer las imágenes más pequeñas */
    height: auto;
    border-radius: 1rem; /* Agrega bordes redondeados a las imágenes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a las imágenes */
    transition: transform 0.3s ease; /* Agrega una transición suave al hacer hover */
}

/* Estilo para las imágenes en las secciones Nuestra Historia, Certificaciones y Café Geisha en el Mundo al hacer hover */
.nuestra-historia img:hover,
.certificaciones img:hover{
    transform: scale(1.15); /* Aumenta ligeramente el tamaño al hacer hover */
}


p {
  text-align: justify;
}

.tiendas_class .col-md-4 {
    margin-bottom: 20px;
    text-align: center;
}

.tiendas_class .img-fluid {
    max-width: 80%; /* Ajusta el tamaño máximo de las imágenes */
    height: auto;
    transition: transform 0.3s ease; /* Agrega una transición suave al hacer hover */
}

.tiendas_class .img-fluid:hover {
    transform: scale(1.25); /* Aumenta ligeramente el tamaño al hacer hover */
}

/* Estilo para la sección de productos */
/* Estilo base para las imágenes */
.productos_class figure img {
    max-width: 100%; /* Ajuste máximo al ancho del contenedor */
    height: auto;
}

/* Estilo para las figuras en la sección de productos */
.productos_class figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
}

.productos_class figure > * {
    grid-area: 1/1;
    transition: .4s;
}

.productos_class figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0); /* Standard property */
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0); /* Safari, Chrome, Edge */
    mask-composite: xor; /* Standard property */
    -webkit-mask-composite: xor; /* Safari, Chrome, Edge */
    mask-clip: text, padding-box; /* Standard property */
    -webkit-mask-clip: text, padding-box; /* Safari, Chrome, Edge */
    mask-size: auto; /* Standard property */
    -webkit-mask-size: auto; /* Safari, Chrome, Edge */
    margin: -1px;
}

.productos_class figure:hover figcaption {
    --_i: 0%;
}

.productos_class figure:hover img {
    transform: scale(1.2);
}

/* Estilo base para el texto de descripción */
.descripcion {
    font-size: 1.2rem;
    text-align: center;
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    -webkit-mask-composite: xor; /* Safari, Chrome, Edge */
    mask-composite: xor; /* Standard property */
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .productos_class {
        margin-top: 20px;
        display: grid;
        place-items: center;
        grid-gap: 20px; /* Espacio entre las imágenes */
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Distribución automática de las imágenes */
    }
    
    .productos_class figure img {
        max-width: 100%; /* Ajuste máximo al ancho del contenedor */
        height: auto;
    }
    
    /* Estilo para las figuras en la sección de productos */
    .productos_class figure {
        display: grid;
        border-radius: 1rem;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 20px;
        max-width: 150px; /* Ajuste máximo al ancho de la figura */
    }
    
    .productos_class figure > * {
        grid-area: 1/1;
        transition: .4s;
    }
    
    .productos_class figure figcaption {
        display: grid;
        align-items: end;
        font-family: sans-serif;
        font-size: 1.5rem; /* Tamaño de letra ajustado para dispositivos móviles */
        font-weight: bold;
        color: #000;
        padding: .5rem; /* Reducción del padding para dispositivos móviles */
        background: var(--c,#0009);
        clip-path: inset(0 var(--_i,100%) 0 0);
        mask:
          linear-gradient(#000 0 0),
          linear-gradient(#000 0 0); /* Standard property */
        -webkit-mask:
          linear-gradient(#000 0 0),
          linear-gradient(#000 0 0); /* Safari, Chrome, Edge */
        mask-composite: xor; /* Standard property */
        -webkit-mask-composite: xor; /* Safari, Chrome, Edge */
        mask-clip: text, padding-box; /* Standard property */
        -webkit-mask-clip: text, padding-box; /* Safari, Chrome, Edge */
        mask-size: auto; /* Standard property */
        -webkit-mask-size: auto; /* Safari, Chrome, Edge */
        margin: -1px;
    }
    
    .productos_class figure:hover figcaption {
        --_i: 0%;
    }
    
    .productos_class figure:hover img {
        transform: scale(1.2);
    }
    
    /* Estilo para el texto de descripción */
    .descripcion {
        font-size: 1rem; /* Tamaño de letra ajustado para dispositivos móviles */
        text-align: center;
        color: #000;
        max-width: 300px; /* Ajuste máximo al ancho del texto */
        margin: 0 auto;
        margin-top: 20px;
        -webkit-mask-composite: xor; /* Safari, Chrome, Edge */
        mask-composite: xor; /* Standard property */
    }
    
}
