/* Estilo general para la barra de navegación */
.navbar {
    background-color: #05792e;
    padding: 10px;
}

/* Estilo para los botones de la barra de navegación */
.nav-tabs .nav-item .nav-link {
    color: #ffffff;
    border: none;
    border-radius: 0;
}

.nav-tabs .nav-item .nav-link:hover {
    background-color: #06ae41;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #06ae41;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    margin-bottom: -2px; /* Ajuste para evitar que el botón se vea hundido */
}

/* Alineación del contenido de la página */
.container {
    margin-top: 20px; /* Ajusta el espacio entre la barra de navegación y el contenido */
}

/* Estilo para la sección NUESTRA HISTORIA */
.nuestra-historia {
    margin-top: 40px;
}

.nuestra-historia h2 {
    color: #8CC63F; /* Verde */
}

/* Estilo para la sección CERTIFICACIONES */
.certificaciones {
    margin-top: 40px;
}

.certificaciones h2 {
    color: #FFD700; /* Dorado */
}

/* Estilo para las imágenes en la sección NUESTRA HISTORIA */
.nuestra-historia img {
    width: 300px;
    height: 300px;
}

.certificaciones img {
    width: 300px;
    height: auto;
}

/* Estilo para la sección Café Geisha en el Mundo */
.cafe-geisha {
    margin-top: 40px;
}

.cafe-geisha h2 {
    color: #007bff; /* Azul */
}

.cafe-geisha img {
    width: 300px;
    height: 300px;
}

